@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
  background: #090909;

  background-image:
    radial-gradient(circle at top center,
      rgba(225, 6, 0, 0.18),
      transparent 45%),

    radial-gradient(circle at bottom right,
      rgba(255, 0, 0, 0.08),
      transparent 35%);
}